<div *ngIf="notifications$ | async as notifications" fxFlex="100" fxFlex.gt-xs="60"
     fxFlexOffset.gt-xs="20" fxLayout="column" fxLayoutAlign="space-around-center">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let notify of notifications" (click)="markAsRead(notify)" [expanded]="notify.id===itemToExpand">
      <mat-expansion-panel-header>
        <mat-panel-title [ngClass]="{'unread': !notify.read}">
          {{notify.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{notify.text}} <a [href]="notify.actionUrl">>>LINK<<</a></p>
      <small>{{notify.timestamp | date: 'medium'}}</small>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="no-notify" *ngIf="notifications.length == 0">You don't have any notifications</p>
</div>
