.with-icon {
  margin-top: 7px;
  text-align: center;
}
.nickname {
  font-size: 56px;
  font-weight: bold;
}
.avatar {
  min-height: 100px;
  min-width: 100px;
}
.edit-icon {
  background-color: orangered;
  color: white;
  border-radius: 55px;
}
