<div *ngIf="user"  fxFlex="100" fxFlex.gt-xs="60" fxFlexOffset.gt-xs="20" fxLayout="column" fxLayoutAlign="space-around-center">
  <div class="with-icon">
    <img class="avatar" mat-card-avatar [src]="user.imageUrl">
    <h3 class="nickname">{{user.nickname}}</h3>
    <small style="display: block">height: {{user.userDetails.height}}</small>
    <small style="display: block">weight: {{user.userDetails.weight}}</small>
    <button *ngIf="isAllowToEdit(user.id)" (click)="editUserDetails(user)" class="edit-icon" mat-button matTooltip="Edit" matTooltipPosition="right"><mat-icon>edit</mat-icon></button>
  </div>
  <div>
    <canvas mdbChart
            [chartType]="chartTypeBar"
            [datasets]="chartDatasetsBar"
            [labels]="chartLabelsBar"
            [colors]="chartColorsBar"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
  </div>
  <div>
    <canvas mdbChart
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
  </div>
</div>
