<mat-card>
  <form [formGroup]="editGameForm">
    <mat-card-title>{{data.game.time}} - {{data.game.date}} at {{data.game.place.address}}</mat-card-title>
    <mat-card-content>
      <mat-form-field class="edit-input">
        <input matInput formControlName="place" placeholder="Pick court" type="text" [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getPlaceAddress">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.address}}
          </mat-option>
        </mat-autocomplete>
        <mat-error align="end" *ngIf="editGameForm.controls['place'].hasError('required')">
          You have to pick the court
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="date" placeholder="Date" [min]="minDate" [matDatepicker]="dateValid" required>
        <mat-datepicker-toggle matSuffix [for]="dateValid"></mat-datepicker-toggle>
        <mat-datepicker #dateValid></mat-datepicker>
        <mat-error align="end" *ngIf="editGameForm.controls['date'].hasError('required')">
          A valid date mm/dd/yyyy is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="edit-input">
        <input matInput [ngxTimepicker]="picker" formControlName="time" placeholder="Time" [format]="24" required readonly>
        <ngx-material-timepicker #picker></ngx-material-timepicker>
        <mat-error align="end" *ngIf="editGameForm.controls['time'].hasError('required')">
          You have to pick the time
        </mat-error>
      </mat-form-field>
      <mat-form-field class="edit-input">
        <input matInput formControlName="description" placeholder="Description">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button (click)="onSubmit()" [disabled]="editGameForm.invalid">Save</button>
    </mat-card-actions>
  </form>
</mat-card>
