.with-icon {
  display: flex;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
}
.with-icon img {
  margin-right: 5px;
}
h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.error-message {
  font-weight: bold;
  color: red;
}
