<mat-card>
  <ng-template *ngIf="errorMessage$ | async as message">
    <span class="error-message">{{message}}</span>
  </ng-template>
  <mat-form-field>
    <mat-label>Teams number</mat-label>
    <mat-select (selectionChange)="onChange($event.value)" [formControl]="defaultTeamsNumber">
      <mat-option *ngFor="let option of teamsNumberOptions" [value]="option">{{option}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="teams$ | async as teams">
    <ng-container *ngFor="let squads of teams.teams; let i = index">
      <h3>Team {{i + 1}}</h3>
      <ng-container *ngFor="let user of squads">
        <span class="with-icon">
          <a [routerLink]="['/users', user.id]">
            <img mat-card-avatar [src]="user.imageUrl">
          </a>
          <a class="user-profile-link" [routerLink]="['/users', user.id]">
            <span>{{user.nickname}}</span>
          </a>
        </span>
      </ng-container>
    </ng-container>
  </div>
</mat-card>
