<mat-progress-bar *ngIf="loadingStatus$ | async" mode="indeterminate"></mat-progress-bar>
<mat-card>
  <form [formGroup]="addGameForm" (ngSubmit)="onSubmit()">
    <mat-card-title>Add game proposal</mat-card-title>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput formControlName="place" placeholder="Pick court" type="text" [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getPlaceAddress">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.address}}
          </mat-option>
        </mat-autocomplete>
        <mat-error align="end" *ngIf="addGameForm.controls['place'].hasError('required')">
          You have to pick the court
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="date" placeholder="Date" [min]="minDate" [matDatepicker]="dateValid" required>
        <mat-datepicker-toggle matSuffix [for]="dateValid"></mat-datepicker-toggle>
        <mat-datepicker #dateValid></mat-datepicker>
        <mat-error align="end" *ngIf="addGameForm.controls['date'].hasError('required')">
          A valid date mm/dd/yyyy is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput [ngxTimepicker]="picker" formControlName="time" placeholder="Time" [format]="24" required readonly>
        <ngx-material-timepicker #picker></ngx-material-timepicker>
        <mat-error align="end" *ngIf="addGameForm.controls['time'].hasError('required')">
          You have to pick the time
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <textarea matInput formControlName="description" placeholder="Description"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit" [disabled]="addGameForm.invalid">Send</button>
    </mat-card-actions>
  </form>
</mat-card>
