.container {
  padding: 0 !important;
  margin: 0 !important;
  display: contents;
}

.container .mat-drawer {
  min-width: 200px;
}

.container .mat-drawer .mat-button {
  display: block;
  width: 100%;
  text-align: left;
}

.spacer {
  flex: 1 1 auto;
}

.mat-card {
  background-color: orangered;
  color: white;
  border-radius: 0;
}

.is-active {
  background: orangered;
  color: white;
}

.with-icon {
  display: flex;
  align-items: center;
}
