<mat-drawer-container *ngIf="currentUser$ | async as user; else noUser" class="container">
  <mat-drawer #drawer class="sidenav">
    <mat-card>
      <mat-card-header class="with-icon">
        <img mat-card-avatar [src]="user.imageUrl">
        {{user.nickname}}
      </mat-card-header>
    </mat-card>
    <button color="primary" [routerLink]="['/users', user.id]" mat-button>
      <mat-icon>face</mat-icon>
      Profile
    </button>
    <button color="primary" routerLink="/notifications" mat-button>
      <mat-icon>notifications</mat-icon>
      <span matBadge="{{notificationsLength$ | async}}" matBadgeOverlap="false">Notifications</span>
    </button>
    <button color="primary" mat-button routerLink="/admin">
      <mat-icon>security</mat-icon>
      Panel admin
    </button>
    <mat-divider></mat-divider>
    <button color="primary" mat-button routerLink="/games" [routerLinkActive]="'is-active'"
            [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>view_list</mat-icon>
      Games
    </button>
    <button color="primary" mat-button routerLink="/games/add" [routerLinkActive]="'is-active'">
      <mat-icon>add_box</mat-icon>
      Add game
    </button>
    <button color="primary" mat-button routerLink="/login" [routerLinkActive]="'is-active'">
      <mat-icon>directions_run</mat-icon>
      Logout
    </button>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Basket 41</span>
        <span class="spacer"></span>
        <mat-icon>favorite</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
<ng-template #noUser>
  <mat-drawer-container class="container">
    <mat-drawer #drawer class="sidenav">
      <button color="primary" mat-button routerLink="/register" [routerLinkActive]="'is-active'">
        <mat-icon>vpn_key</mat-icon>
        Register
      </button>
      <button color="primary" mat-button routerLink="/login" [routerLinkActive]="'is-active'">
        <mat-icon>fingerprint</mat-icon>
        Login
      </button>
    </mat-drawer>
    <div class="sidenav-content">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>Basket 41</span>
          <span class="spacer"></span>
          <mat-icon>favorite</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</ng-template>

