@import '~@angular/material/theming';

@include mat-core();

$basket-theme-primary: mat-palette($mat-deep-orange);
$basket-theme-accent:  mat-palette($mat-pink, A200, A100, A400);
$basket-theme:  mat-light-theme($basket-theme-primary, $basket-theme-accent);

@include angular-material-theme($basket-theme);
