<div *ngIf="game$ | async as game; else noSuchGame" fxFlex="100" fxFlex.gt-xs="60" fxFlexOffset.gt-xs="20" fxLayout="column" fxLayoutAlign="space-around-center">
  <mat-card>
    <mat-card-header>
      <a [routerLink]="['/users', game.userDTO.id]">
        <img mat-card-avatar [src]="game.userDTO.imageUrl">
      </a>
      <mat-card-title>{{game.place.address}}</mat-card-title>
      <mat-card-title class="with-icon">
        <mat-icon>calendar_today</mat-icon> {{game.date | date: 'mediumDate'}}
      </mat-card-title>
      <mat-card-title class="with-icon">
        <mat-icon>access_time</mat-icon> {{game.time}}
      </mat-card-title>
      <mat-card-subtitle class="with-icon">
        <ng-container *ngIf="isAdmin(game.userDTO);else notAdmin">
          <mat-icon>grade</mat-icon>
          <a class="user-profile-link" [routerLink]="['/users', game.userDTO.id]">
            <span>{{game.userDTO.nickname}}</span>
          </a>
        </ng-container>
        <ng-template #notAdmin>
          <mat-icon>account_circle</mat-icon>
          <a class="user-profile-link" [routerLink]="['/users', game.userDTO.id]">
            <span>{{game.userDTO.nickname}}</span>
          </a>
        </ng-template>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="game.place.imageUrl">
    <mat-card-content>
      <p>{{game.description}}</p>
      <small>{{game.timestamp | date: 'medium'}}</small>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="isVoted(game, 'PLUS');else notVotedPlus" mat-mini-fab matTooltip="I'll be there!"><mat-icon>favorite</mat-icon> {{game.plus}}</button>
      <button *ngIf="isVoted(game, 'MAYBE');else notVotedMaybe" mat-mini-fab matTooltip="I don't know yet"><mat-icon>hourglass_full</mat-icon> {{game.maybe}}</button>
      <button *ngIf="isVoted(game, 'MINUS');else notVotedMinus" mat-mini-fab matTooltip="I can't be there :("><mat-icon>sentiment_very_dissatisfied</mat-icon> {{game.minus}}</button>
      <ng-template #notVotedPlus>
        <button mat-button matTooltip="I'll be there!" (click)="voteForGame('PLUS', game.id)"><mat-icon>favorite</mat-icon> {{game.plus}}</button>
      </ng-template>
      <ng-template #notVotedMaybe>
        <button mat-button matTooltip="I don't know yet" (click)="voteForGame('MAYBE', game.id)"><mat-icon>hourglass_full</mat-icon> {{game.maybe}}</button>
      </ng-template>
      <ng-template #notVotedMinus>
        <button mat-button matTooltip="I can't be there :(" (click)="voteForGame('MINUS', game.id)"><mat-icon>sentiment_very_dissatisfied</mat-icon> {{game.minus}}</button>
      </ng-template>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="checkStatistics(game.id)">
          <mat-icon>insert_chart_outlined</mat-icon>
          <span>Statistics</span>
        </button>
        <button *ngIf="game.plus >= 2; else disabled" mat-menu-item (click)="generateSquads(game)">
          <mat-icon>transfer_within_a_station</mat-icon>
          <span>Generate teams</span>
        </button>
        <ng-template #disabled>
          <button mat-menu-item disabled>
            <mat-icon>transfer_within_a_station</mat-icon>
            <span>Generate teams</span>
          </button>
        </ng-template>
        <button *ngIf="isAllowToEditOrDelete(game)" mat-menu-item (click)="editGame(game)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button *ngIf="isAllowToEditOrDelete(game)" mat-menu-item (click)="removeGame(game)">
          <mat-icon>delete</mat-icon>
          <span>Remove</span>
        </button>
      </mat-menu>
    </mat-card-actions>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{panelOpenState ? 'Hide comments' : 'Show comments'}}
          </mat-panel-title>
          <mat-panel-description>
            {{countComments(game)}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let comment of game.comments">
          <p class="with-icon">
            <a [routerLink]="['/users', comment.userDTO.id]">
              <img class="comment-icon" mat-card-avatar [src]="comment.userDTO.imageUrl">
            </a>
            <a class="user-profile-link" [routerLink]="['/users', comment.userDTO.id]">
              <span>{{comment.userDTO.nickname}}</span>
            </a>
            : {{comment.text}}
          </p>
        </ng-container>
        <form [formGroup]="sendCommentForm" (ngSubmit)="onSubmit(game)">
          <img class="comment-icon" mat-card-avatar [src]="currentUser.imageUrl">
          <mat-form-field>
            <textarea matInput formControlName="text" placeholder="Write a comment..."></textarea>
          </mat-form-field>
          <mat-card-actions>
            <button mat-button type="submit" [disabled]="sendCommentForm.controls['text'].length == 0">Send</button>
          </mat-card-actions>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
<ng-template #noSuchGame>
  <h1>There is no game with such id</h1>
</ng-template>
