<h1 mat-dialog-title>Are you sure that you want to remove this game?</h1>
<div mat-dialog-content>
  {{data.game.date}} - {{data.game.time}} at {{data.game.place.address}}
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSubmit()">Yes, remove</button>
</div>
