.with-icon {
  display: flex;
  align-items: center;
}
img {
  margin-right: 5px;
}
ul {
  min-width: 200px;
  max-width: 500px;
  color: #333;
  list-style: none;
  margin: auto;
  padding: 10px;
}
.list li {
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.virtual-scroll {
  height: 200px;
}
