<div mat-dialog-content>
  <mat-accordion>
    <mat-expansion-panel [disabled]="gameStatistics?.plusUsers.length == 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>favorite</mat-icon>
        </mat-panel-title>
        <mat-panel-description>{{gameStatistics?.plusUsers.length}} users</mat-panel-description>
      </mat-expansion-panel-header>
      <ul class="list">
        <cdk-virtual-scroll-viewport class="virtual-scroll" [itemSize]="gameStatistics?.plusUsers.length">
          <ng-container *cdkVirtualFor="let user of gameStatistics?.plusUsers">
            <li class="with-icon">
              <a [routerLink]="['/users', user.id]">
                <img mat-card-avatar [src]="user.imageUrl">
              </a>
              <a class="user-profile-link" [routerLink]="['/users', user.id]">
                <span>{{user.nickname}}</span>
              </a>
            </li>
          </ng-container>
        </cdk-virtual-scroll-viewport>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel [disabled]="gameStatistics?.maybeUsers.length == 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>hourglass_full</mat-icon>
        </mat-panel-title>
        <mat-panel-description>{{gameStatistics?.maybeUsers.length}} users</mat-panel-description>
      </mat-expansion-panel-header>
      <ul class="list">
        <cdk-virtual-scroll-viewport class="virtual-scroll" [itemSize]="gameStatistics?.maybeUsers.length">
          <ng-container *cdkVirtualFor="let user of gameStatistics?.maybeUsers">
            <li class="with-icon">
              <a [routerLink]="['/users', user.id]">
                <img mat-card-avatar [src]="user.imageUrl">
              </a>
              <a class="user-profile-link" [routerLink]="['/users', user.id]">
                <span>{{user.nickname}}</span>
              </a>
            </li>
          </ng-container>
        </cdk-virtual-scroll-viewport>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel [disabled]="gameStatistics?.minusUsers.length == 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>sentiment_very_dissatisfied</mat-icon>
        </mat-panel-title>
        <mat-panel-description>{{gameStatistics?.minusUsers.length}} users</mat-panel-description>
      </mat-expansion-panel-header>
      <ul class="list">
        <cdk-virtual-scroll-viewport class="virtual-scroll" [itemSize]="gameStatistics?.minusUsers.length">
          <ng-container *cdkVirtualFor="let user of gameStatistics?.minusUsers">
            <li class="with-icon">
              <a [routerLink]="['/users', user.id]">
                <img mat-card-avatar [src]="user.imageUrl">
              </a>
              <a class="user-profile-link" [routerLink]="['/users', user.id]">
                <span>{{user.nickname}}</span>
              </a>
            </li>
          </ng-container>
        </cdk-virtual-scroll-viewport>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
