.mat-card {
  transition: none !important;
  box-shadow: none !important;
}
.mat-form-field {
  display: flex;
}
.edit-input {
  width: 100%;
}
.mat-card-title {
  display: flex;
  align-items: center;
}
.mat-card-title > img {
  margin-right: 5px;
}
