<mat-card>
  <form [formGroup]="editForm">
    <mat-card-title><img mat-card-avatar [src]="data.user.imageUrl">
      {{data.user.nickname}}
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Nickname</mat-label>
        <input class="edit-input" matInput formControlName="nickname" required>
        <mat-error align="end" *ngIf="editForm.controls['nickname'].errors?.required">
          Nickname is required
        </mat-error>
        <mat-error align="end"
                   *ngIf="(editForm.controls['nickname'].errors?.minlength || editForm.controls['nickname'].errors?.maxlength) && !editForm.controls['nickname'].errors?.required">
          Nickname must have between 3 and 15 characters
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input class="edit-input" matInput formControlName="email" required>
        <mat-error align="end" *ngIf="editForm.controls['email'].errors?.required">
          Email is required
        </mat-error>
        <mat-error align="end"
                   *ngIf="editForm.controls['email'].errors?.validateEmailPattern && !editForm.controls['email'].errors?.required">
          Email is invalid
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select class="edit-input" [formControl]="statusForm">
          <mat-option *ngFor="let status of allStatuses" [value]="status">{{status | userStatus}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Image URL</mat-label>
        <input class="edit-input" matInput formControlName="imageUrl">
        <mat-error align="end" *ngIf="editForm.controls['imageUrl'].errors?.required">
          Image URL is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Roles</mat-label>
        <mat-select [formControl]="rolesForm" multiple>
          <mat-option *ngFor="let role of allRoles" [value]="role">{{role.role | slice:5}}</mat-option>
        </mat-select>
        <mat-error align="end" *ngIf="rolesForm.errors?.required">
          User must have at least one role
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      <button mat-button (click)="onSubmit()" [disabled]="editForm.invalid || rolesForm.invalid">Save</button>
    </mat-card-actions>
  </form>
</mat-card>
