<mat-card class="mat-card-edit-dialog">
  <form [formGroup]="editUserDetailsForm">
    <mat-card-content class="mat-content-edit-dialog">
      <mat-form-field class="edit-input">
        <input matInput formControlName="height" required autocomplete="off">
        <mat-error align="end" *ngIf="editUserDetailsForm.controls['height'].hasError('required')">
          Height is required
        </mat-error>
        <mat-error align="end"
                   *ngIf="!editUserDetailsForm.controls['height'].hasError('required') && (editUserDetailsForm.controls['height'].hasError('min') || editUserDetailsForm.controls['height'].hasError('max'))">
          Height must be between 150 and 210 cm
        </mat-error>
      </mat-form-field>
      <mat-form-field class="edit-input">
        <input matInput formControlName="weight" required autocomplete="off">
        <mat-error align="end" *ngIf="editUserDetailsForm.controls['weight'].hasError('required')">
          Weight is required
        </mat-error>
        <mat-error align="end"
                   *ngIf="!editUserDetailsForm.controls['weight'].hasError('required') && (editUserDetailsForm.controls['weight'].hasError('min') || editUserDetailsForm.controls['weight'].hasError('max'))">
          Weight must be between 50 and 150 kg
        </mat-error>
      </mat-form-field>
      <mat-form-field class="edit-input">
        <label>Jump range</label>
        <mat-select formControlName="jumpRange">
          <mat-option *ngFor="let rate of rates" [value]="rate">{{rate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="edit-input">
        <label>Jump shot</label>
        <mat-select formControlName="jumpShot">
          <mat-option *ngFor="let rate of rates" [value]="rate">{{rate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="edit-input">
        <label>Defencive</label>
        <mat-select formControlName="defencive">
          <mat-option *ngFor="let rate of rates" [value]="rate">{{rate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="edit-input">
        <label>Handling</label>
        <mat-select formControlName="handling">
          <mat-option *ngFor="let rate of rates" [value]="rate">{{rate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="edit-input">
        <label>Passing</label>
        <mat-select formControlName="passing">
          <mat-option *ngFor="let rate of rates" [value]="rate">{{rate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="edit-input">
        <label>Driving</label>
        <mat-select formControlName="driving">
          <mat-option *ngFor="let rate of rates" [value]="rate">{{rate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="edit-input">
        <label>Inside shot</label>
        <mat-select formControlName="insideShot">
          <mat-option *ngFor="let rate of rates" [value]="rate">{{rate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="edit-input">
        <label>Rebounding</label>
        <mat-select formControlName="rebounding">
          <mat-option *ngFor="let rate of rates" [value]="rate">{{rate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="edit-input">
        <label>Shot blocking</label>
        <mat-select formControlName="shotBlocking">
          <mat-option *ngFor="let rate of rates" [value]="rate">{{rate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="edit-input">
        <label>Stamina</label>
        <mat-select formControlName="stamina">
          <mat-option *ngFor="let rate of rates" [value]="rate">{{rate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button (click)="onSubmit()" [disabled]="editUserDetailsForm.invalid">Save</button>
    </mat-card-actions>
  </form>
</mat-card>
