<mat-progress-bar *ngIf="loadingStatus$ | async" mode="indeterminate"></mat-progress-bar>
<mat-card>
 <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
   <mat-card-title>Login</mat-card-title>
   <mat-card-content>
     <mat-form-field class="full-width">
       <input type="email" matInput placeholder="Email" formControlName="email" required [errorStateMatcher]="matcher">
       <mat-error align="end" *ngIf="loginForm.controls['email'].hasError('required')">
         Email is required
       </mat-error>
     </mat-form-field>
     <mat-form-field class="full-width">
       <input type="password" matInput placeholder="Password" formControlName="password" required [errorStateMatcher]="matcher">
       <mat-error align="end" *ngIf="loginForm.controls['password'].hasError('required')">
         Password is required
       </mat-error>
     </mat-form-field>
   </mat-card-content>
   <div *ngIf="errorMessage$ | async as error">
     <span class="error-message">{{error}}</span>
   </div>
   <mat-card-actions>
     <button mat-button type="submit" [disabled]="loginForm.invalid">Log in</button>
   </mat-card-actions>
 </form>
</mat-card>
