<mat-progress-bar *ngIf="loadingStatus$ | async" mode="indeterminate"></mat-progress-bar>
<mat-card>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput placeholder="Nick" formControlName="nickname" required [errorStateMatcher]="matcher">
        <mat-error align="end" *ngIf="registerForm.controls['nickname'].hasError('required')">
          Nickname is required
        </mat-error>
        <mat-error align="end"
                   *ngIf="(registerForm.controls['nickname'].hasError('minlength') || registerForm.controls['nickname'].hasError('maxlength')) && !registerForm.controls['nickname'].hasError('required')">
          Nickname must have between 3 and 15 characters
        </mat-error>
        <mat-error align="end"
                   *ngIf="registerForm.controls['nickname'].errors?.nicknameTaken">
          User with this nickname is already exists
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="email" matInput formControlName="email" placeholder="Email" required>
        <mat-hint align="end">Hint: email@domain.com</mat-hint>
        <mat-error align="end" *ngIf="registerForm.controls['email'].hasError('required')">
          Email is required
        </mat-error>
        <mat-error align="end"
                   *ngIf="registerForm.controls['email'].hasError('validateEmailPattern') && !registerForm.controls['email'].hasError('required')">
          Please enter a valid address
        </mat-error>
        <mat-error align="end"
                   *ngIf="registerForm.controls['email'].errors?.emailTaken">
          User with this email is already exists
        </mat-error>
      </mat-form-field>
      <div [formGroup]="passwordForm">
        <mat-form-field class="full-width">
          <input type="password" matInput formControlName="password" placeholder="Password" required>
          <mat-error align="end" *ngIf="passwordForm.controls['password'].hasError('required')">
            Email is required
          </mat-error>
          <mat-error align="end"
                     *ngIf="(passwordForm.controls['password'].hasError('minlength') || passwordForm.controls['password'].hasError('maxlength')) && !passwordForm.controls['password'].hasError('required')">
            Password must have between 5 and 20 characters
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="password" matInput formControlName="confirmPassword" placeholder="Confirm password" required>
          <mat-error align="end" *ngIf="passwordForm.controls['confirmPassword'].hasError('required')">
            You have to confirm your password
          </mat-error>
          <mat-error align="end"
                     *ngIf="passwordForm.get('confirmPassword').invalid && !passwordForm.controls['confirmPassword'].hasError('required')">
            Passwords do not match
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit" [disabled]="registerForm.invalid || passwordForm.invalid">Submit</button>
    </mat-card-actions>
  </form>
</mat-card>
